<nav class="navbar navbar-default header">
  <div class="container-fluid">
    <ul class="nav justify-content">
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="movies" class="nav-link">Mes Films</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
          <a routerLink="webmovies" class="nav-link">Liste de Films</a>
        </li>
    </ul>
    <ul class="nav justify-content-end">
      <li routerLinkActive="active" class="nav-item" *ngIf="!isAuth">
        <a routerLink="auth/signup" class="nav-link">Créer un compte</a>
      </li>
      <li routerLinkActive="active" class="nav-item" *ngIf="!isAuth">
        <a routerLink="auth/signin" class="nav-link">Connexion</a>
      </li>
      <li class="nav-item" *ngIf="isAuth">
        <a (click)="onSignOut()" class="nav-link" style="cursor: pointer">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>