<nav class="navbar navbar-default header">
  <div class="container-fluid">
    <ul class="nav justify-content">
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="movies" class="nav-link">Mes Films</a>
      </li>
      <li routerLinkActive="active" class="nav-item">
          <a routerLink="webmovies" class="nav-link">Liste de Films</a>
        </li>
    </ul>
    <p *ngIf="lastName">
      bienvenue {{lastName}}
    </p>
    <ul class="nav justify-content-end">
      <li routerLinkActive="active" class="nav-item" *ngIf="!lastName">
        <a routerLink="register" class="nav-link">Créer un compte</a>
      </li>
      <li routerLinkActive="active" class="nav-item" *ngIf="!lastName">
        <a routerLink="login" class="nav-link">Connexion</a>
      </li>
      <li class="nav-item logout" *ngIf="lastName">
        <a (click)="logout()" class="nav-link ">Déconnexion</a>
      </li>
    </ul>
  </div>
</nav>