<div class="row">
  <div class="col-sm-12">
    <h2>S'enregister</h2>
    <form [formGroup]="addForm" (ngSubmit)="onCreate()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" class="form-control" formControlName="password">
      </div>
      <div class="form-group">
        <label for="firstName">Prénom</label>
        <input type="firstName" id="firstName" class="form-control" formControlName="firstName">
      </div>
      <div class="form-group">
        <label for="lastName">Nom</label>
        <input type="lastName" id="lastName" class="form-control" formControlName="lastName">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="addForm.invalid">Création</button>
    </form>
    <p class="text-danger">{{ err }}</p>
  </div>
</div>